@inject SignInManager<IdentityUser> SignInManager

<div class="login_container">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="navbar_element" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button class="btn btn-primary" type="submit">Logout</button>
        </form>
    }
    
    else
    {
        <a class="navbar_element" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="navbar_element" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>