@inject SignInManager<IdentityUser> SignInManager

<div class="navbar_links">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Patient"))
        {
            <a class="navbar_element" asp-area="" asp-page="/Patient/Index">Appointments</a>
            <a class="navbar_element" asp-area="" asp-page="/Patient/Book/Index">Book an appointment</a>
        }
        else if (User.IsInRole("Doctor"))
        {
            <a class="navbar_element" asp-area="" asp-page="/Doctor/Schedule">Schedule</a>
            <a class="navbar_element" asp-area="" asp-page="/Doctor/Confirmation">Notification</a>
        }
        else if (User.IsInRole("Admin"))
        {
            <a class="navbar_element" asp-area="" asp-page="/Admin">Users</a>
            <a class="navbar_element" asp-area="" asp-page="/Admin/Appointments">Appointments</a>
        }
    }
</div>