@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <h1 class="display-4">Welcome to Doctolib</h1>
    <p>Your one-stop solution for managing appointments and health records.</p>
</div>